*{
    background: rgb(4,97,41);
background: linear-gradient(270deg, rgb(120, 148, 131) 0%, rgb(118, 158, 134) 55%, rgb(120, 148, 131) 0%, rgb(154, 206, 175) 100%);  
}

.light-theme{
    /* ----- Colors ------ */
    --color-brand: #adbeb0;
    --color-brand-dark: #92a094;
    --color-white: #fff;
    --color-black: #000;
}

.light{
--color-text-1: #202020;
--color-text-2: #414141;
--color-bg-1: #f1f1f1;
--color-bg-2: #ebebeb;
--color-bg-dark: #1d1d1d;
--color-bg-dark-1: #303030;
--color-bg-dark-text: #f7f7f7;
}
.dark{
--color-text-1: #f1f1f1;
--color-text-2: #ebebeb;
--color-bg-1: #202020;
--color-bg-2: #2e2d2d;
--color-bg-dark: #f7f7f7;
--color-bg-dark-1: #e0dfdf;
--color-bg-dark-text: #1d1d1d;
    }


/* a section  ------------------------------------  */
/* example =========================================== */
/* .example{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 413px){}

@media screen and (min-width: 549px){}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){}

@media screen and (min-width: 992px){}

@media screen and (min-width: 1200px){}

@media screen and (min-width: 1400px) {}

/* Alternative code, for larger screens */
/* @media screen and (min-width: 1700px){

    section{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

};  */

